<div class="jumbotron">
  <center><h4>Connect with SNAP</h4></center>
  {% for member in site.data.snap %}
    <center>
    <div style="margin-bottom:5px">
    {% if member.email %}<a href="mailto:{{ member.email }}" aria-label="Email SNAP" title="Email SNAP"><i class="fa-solid fa-envelope fa-2x" aria-hidden="true"></i></a> {% endif %}
    {% if member.bluesky %} <a href="{{ member.bluesky }}" target="_blank" rel="noopener" aria-label="SNAP on Bluesky" title="SNAP on Bluesky"><i class="fa-brands fa-bluesky fa-2x" aria-hidden="true"></i></a> {% endif %}
    {% if member.instagram %} <a href="{{ member.instagram }}" target="_blank" rel="noopener" aria-label="SNAP on Instagram" title="SNAP on Instagram"><i class="fa-brands fa-instagram fa-2x" aria-hidden="true"></i></a> {% endif %}
    {% if member.linkedin %} <a href="{{ member.linkedin }}" target="_blank" rel="noopener" aria-label="SNAP on LinkedIn" title="SNAP on LinkedIn"><i class="fa-brands fa-linkedin fa-2x" aria-hidden="true"></i></a> {% endif %}
    {% if member.medium %} <a href="{{ member.medium }}" target="_blank" rel="noopener" aria-label="SNAP on Medium" title="SNAP on Medium"><i class="fa-brands fa-medium fa-2x" aria-hidden="true"></i></a> {% endif %}
  </div>
  </center>
{% endfor %}
</div>

<div class="jumbotron">
  <h4>Current Initiatives</h4>
  <ul>
  {% for post in site.initiatives reversed %}
    {% if post.category == 'current' %}
      <li>
        <p><b><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></b></p>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
  <h5>Learn more about <a href="{{ site.url }}{{ site.baseurl }}/initiatives/">our initiatives</a></h5>
</div>

<div class="jumbotron">
  <h4>Latest Blog Posts</h4>
  <ul>
  {% for post in site.posts limit:3 %}
    <li>
      <p><b>{{ post.date | date: '%b %d, %Y' }}:
      <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></b></p>
    </li>
  {% endfor %}
  </ul>
  <h5>Read more <a href="{{ site.url }}{{ site.baseurl }}/blog/">Science Policy in a SNAP</a></h5>
</div>

<div class="jumbotron">
  <h4>Press Mentions</h4>
  <ul>
  {% for article in site.data.press limit:3 %}
    <li>
      <p><b>{{ article.date | date: '%b %d, %Y' }}:
      <a href="{{ article.website }}">{{ article.headline }}</a> in <i>{{ article.source }}</i></b>
    </li>
  {% endfor %}
  </ul>
  <h5>See more of <a href="{{ site.url }}{{ site.baseurl }}/press/">SNAP in the Press</a></h5>
</div>
