---
layout: gridlay
title: "Congressional District Visits"
excerpt: "Join SNAP's August 2026 congressional district visits!"
collection: initiatives
category: current
date: 2026-08-06
permalink: /initiatives/district-visits/
---

<img src="{{ site.url }}{{ site.baseurl }}/images/2026-district-visit.png" width="100%">

<p>The SNAP Congressional District Visits initiative helps early-career scientists meet with their Members of Congress during the August recess. By shifting advocacy from DC-based fly-ins to hometown offices, District Visits lower barriers to participation, build local connections, and emphasize that science is not an abstract enterprise but a vital part of every congressional district.</p>

<h2>August 2026 District Visits</h2>

<div class="alert alert-danger" style="color: var(--snap-blue);">
  <i class="fa-solid fa-bullhorn" aria-hidden="true"></i> <strong>The OMB rule's proposed effective date is October 1, 2026.</strong> Now is the time to make your voice heard. Meet with your representative and discuss how this rule impacts science.
</div>

<p>SNAP is organizing a new round of congressional district visits in August 2026. This year, our primary objective is to discuss the proposed <a href="https://www.whitehouse.gov/omb/" target="_blank" rel="noopener">OMB</a> (Office of Management and Budget) federal financial assistance rule (<a href="https://www.regulations.gov/docket/OMB-2026-0034" target="_blank" rel="noopener">Docket OMB-2026-0034</a>) and its potential negative impacts on scientific researchers and the public.</p>

<h3>How it works</h3>
<ol>
  <li><strong><a href="https://forms.gle/GjZA8uC5bejDFWrX9" target="_blank" rel="noopener">Sign up</a>:</strong> by Friday, August 7th to let us know you're interested.</li>
  <li><strong>Attend training</strong>: join a one-hour session to prepare talking points and materials.</li>
  <li><strong>Visit your rep</strong>: SNAP will help schedule a 15-30 minute meeting at their district office.</li>
</ol>


<h3>Training Sessions</h3>
<ul>
  <li><strong>Session 1:</strong> August 12, 2026 at 2:00 PM ET, co-led with AAAS &nbsp;<a href="https://us06web.zoom.us/meeting/register/MT9keXCSSjWNKbi7jIW96A" target="_blank" rel="noopener" class="btn btn-danger rounded-pill" style="font-size: 0.7rem; padding: 0.15rem 0.5rem; position: relative; top: -1px;">RSVP</a></li>
  <li><strong>Session 2:</strong> August 17, 2026 at 6:00 PM ET &nbsp;<a href="https://us06web.zoom.us/meeting/register/cuQ2p7SiTpiLp9-QufWaxg" target="_blank" rel="noopener" class="btn btn-danger rounded-pill" style="font-size: 0.7rem; padding: 0.15rem 0.5rem; position: relative; top: -1px;">RSVP</a></li>
</ul>

<p>SNAP will provide materials such as district-specific one-pagers to help you convey your points effectively during your meeting.</p>

<p><em>Learn more about our <a href="{{ '/initiatives/district-visits-2025/' | relative_url }}">August 2025 District Visits</a>.</em></p>

<div class="jumbotron">
  <h2>Press Mentions</h2>
  <ul>
    {% assign found = 0 %}
    {% for article in site.data.press %}
      {% if article.category contains 'Congressional Visits 2026' %}
        <li>
          <p><b>{{ article.date | date: '%b %d, %Y' }}:
        <a href="{{ article.website }}">{{ article.headline }}</a> in <i>{{ article.source }}</i></b></p>
        </li>
        {% assign found = found | plus: 1 %}
      {% endif %}
    {% endfor %}
    {% if found == 0 %}
      <p><b>None yet! Check back soon for updates!</b></p>
    {% endif %}
  </ul>
</div>
